<div>
    <mat-toolbar class = "menu" color="primary">
        
        <div class="centerNavBar">
            <a mat-button href="fa-dashboard">Back</a>
            &nbsp;
            <span class="headSpacer">Damage Assessment Tool</span>        
            &nbsp;
            <a mat-button href="">Logout</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="fa-dashboard">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Damage Assessment Report Details</h1>
            </div>
            <mat-card>
                <mat-card-header>Report Details</mat-card-header>
                <br><br>
                <mat-card-content>
                    <div> 
                        <mat-form-field>
                            <mat-label>Name of Organization</mat-label>
                            <input
                                #OrganizationNameInput  
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                            <br>
                        <mat-form-field>
                            <mat-label>Name of Facility</mat-label>
                            <input  
                                #FacilityNameInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <!--Facility Location-->
                        <mat-form-field>
                            <mat-label>Event Being Investigated</mat-label>
                            <input  
                                #EventNameInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <h4>Event Date:</h4>
                        <mat-label></mat-label>
                        <input  
                                #EventDateInput
                                placeholder="--/--/----"
                                matInput type= "Date"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Area of Event</mat-label>
                            <input  
                                #EventAreaInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Type of Disaster</mat-label>
                            <input  
                                #DisasterNatureInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Threat Level of Disaster</mat-label>
                            <input  
                                #ThreatLevelInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Name of Equipment Being Analyse</mat-label>
                            <input  
                                #EquipmentNameInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Equipment Type</mat-label>
                            <input  
                                #EquipmentTypeInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Equipment Model No.</mat-label>
                            <input  
                                #ModelNoInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Equipment Manufacturer</mat-label>
                            <input  
                                #ManufacturerInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Damage Done to the Equipment</mat-label>
                            <input  
                                #EquipmentDamageInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Damage Done to the Facility</mat-label>
                            <input  
                                #FacilityDamageInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Damage Done by the Disaster To the Surrounding Area</mat-label>
                            <input  
                                #SurroundingDamageInput
                                placeholder="--"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                    </div>
                    <div>
                        <button mat-raised-button 
                        type="submit"
                        (click)="createDamageAssessmentReportDetails(OrganizationNameInput.value, FacilityNameInput.value, 
                        FacilityDamageInput.value, EventNameInput.value, EventDateInput.value, EventAreaInput.value, 
                        SurroundingDamageInput.value, DisasterNatureInput.value, 
                        ThreatLevelInput.value, EquipmentNameInput.value, EquipmentTypeInput.value, ModelNoInput.value, 
                        ManufacturerInput.value, EquipmentDamageInput.value)" 
                        color="primary"
                        >Submit</button> 
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    
    </mat-sidenav-container>
</div>
