<div>
    <mat-toolbar class="menu" color="primary">
      <div class="centerNavBar">
        <a mat-button href="admin-dashboard">Back</a>
        &nbsp;
        <span class="headSpacer">Damage Assessment Tool</span>
        &nbsp;
        <a mat-button href="">Logout</a>
      </div>
    </mat-toolbar>
  </div>
  
  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <div>
          <a mat-button href="admin-dashboard">Dashboard</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-fac">Report<br />Facility Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-equ">Report<br />Equipment Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-prefac">Predisaster<br />Facility Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-preequ">Predisaster<br />Equipment Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-moc-report">Make a Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-fac-view">View Reports:<br />Facility Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-equ-view">View Reports:<br />Equipment Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-moc-report-view">View Reports:<br />MOC</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-prefac-view">View Predisaster<br />Facility Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-preequ-view">View Predisaster<br />Equipment Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-aggregate">Data Mining</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-twitter">Twitter Posts</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-charts">Charts</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-message-board">Message Board</a>
        </div>
        <mat-divider></mat-divider>
        <br />
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-card>
          <br /><b>Organization Name:</b
          ><span> {{ prefacili.organizationName }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Facility Name:</b><span> {{ prefacili.facilityName }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Facility Manager:</b><span> {{ prefacili.manager }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Facility Address:</b><span> {{ prefacili.area }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Facility Area Code:</b><span> {{ prefacili.areaCode }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Facility Contact Information:</b
          ><span> {{ prefacili.facilityContact }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Number of Equipment Housed in the Facility:</b
          ><span> {{ prefacili.noOfEqu }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Number of Employees Associated with the Facility:</b
          ><span> {{ prefacili.noOfEmployees }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Site Manufacturer:</b
          ><span> {{ prefacili.buildingManufacturer }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Manufacturer Contact:</b
          ><span> {{ prefacili.manufacturerContact }}</span
          ><br /><br />
          <mat-divider></mat-divider>
          <br /><b>Development Cost:</b><span> {{ prefacili.cost }}</span
          ><br /><br />
          <h3><b>Location:</b><br /></h3>

          <div id="map"></div>
          <br/>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br /><b>Floor Plan: </b><a
            href="http://localhost:3000/{{ prefacili.floorPlan }}"
            target="_blank"
            >Floor Plan</a
          >
          <br />
          <br />
          <span> If Image Does Not Display, Access By Link Above!</span>
          <br />
          <img
            class="styleFloorPlan"
            src="http://localhost:3000/{{ prefacili.floorPlan }}"
          />
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
