<div>
    <mat-toolbar class = "menu" color="primary">
        
        <div class="centerNavBar">
            <a mat-button href="fa-dashboard">Back</a>
            &nbsp;
            <span class="headSpacer">Damage Assessment Tool</span>        
            &nbsp;
            <a mat-button href="">Logout</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="fa-dashboard">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Search</h1>
            </div>
            <mat-card>
                <mat-card-header>Reports</mat-card-header>
                <mat-card-content>
                    <mat-accordion multiple="true">
                        <mat-expansion-panel *ngFor="let report of reports">
                            <mat-expansion-panel-header> 
                                {{report.assessmentDescription}} | {{report.author}} | {{report.reportDateTime}}
                            </mat-expansion-panel-header>
                            <button mat-raised-button>View</button>
                            &nbsp;
                            <button mat-raised-button (click)="onDeleteDAReport()" color="warn">Delete</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>