<div>
  <mat-toolbar class="menu" color="primary">
    <div class="centerNavBar">
      <a mat-button href="message-board">Back</a>
      &nbsp;
      <span class="headSpacer">Damage Assessment Tool</span>
      &nbsp;
      <a mat-button type="button" (click)="onLogoutMoc()">Logout</a>
    </div>
  </mat-toolbar>
</div>

<div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <br/>
      <div>
        <a mat-button href="message-board">Message Board</a>
      </div>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <div>
        <a mat-button href="moc-report">Make a Report</a>
      </div>
      <br/>
      <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sect">
        <h1>Message Board</h1>
      </div>
      <mat-card>
        <mat-card-header>Create a message</mat-card-header>
        <br />
        <mat-card-content>
          <form [formGroup]="form" (submit)="addMessage()">
            
            <br />
            <mat-form-field>
              <mat-label>Message:</mat-label>
              <input
                placeholder="Type Message Here..."
                matInput
                formControlName="message"
                class="form-control"
                type="string"
                required
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="basic" type="submit">Send</button>
            <br />
            <mat-divider></mat-divider>
          </form>
          <br />
          <div>
          <mat-card>
            <h2>Message Board:</h2>
            <mat-card-content *ngFor="let message of messages.slice().reverse()">
              <mat-card class="borderMessage">
                <span
                  ><i>{{ message.username }}</i
                  >, &nbsp;&nbsp;&nbsp;{{
                    message.messageDateTime | date: "short"
                  }}</span
                ><br />
                <mat-divider></mat-divider>
                <br />
                <p>{{ message.message }}</p>
                <br />
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
