<div class="textAlignCenter">
  <mat-toolbar class="menu" color="primary">
    <div class="centerNavBar">
      <span class="headSpacer">Damage Assessment Tool</span>
    </div>
  </mat-toolbar>
  <br/>
  <br/>
  <h3>Field Agent SignUp</h3>
  <br/>
  <br/>
  <br/>

  <form
    #signUpForm="ngForm"
    (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        #firstName="ngModel"
        [(ngModel)]="faSignup.selectedFAUser.firstName"
        name="firstName"
        placeholder="First Name"
        required
      />
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && !firstName.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        #lastName="ngModel"
        [(ngModel)]="faSignup.selectedFAUser.lastName"
        name="lastName"
        placeholder="Last Name"
        required
      />
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && !lastName.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        #employeeID="ngModel"
        [(ngModel)]="faSignup.selectedFAUser.employeeID"
        name="employeeID"
        placeholder="Employee ID"
        required
      />
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && !employeeID.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        #email="ngModel"
        [(ngModel)]="faSignup.selectedFAUser.email"
        name="email"
        placeholder="Email"
        required
        required
        [pattern]="emailRegex"
        [ngClass]="{ 'invalid-textbox': signUpForm.submitted && !email.valid }"
      />
      <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="[email.errors.['required']]" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
      </div>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="password"
        #password="ngModel"
        [(ngModel)]="faSignup.selectedFAUser.password"
        name="password"
        placeholder="Password"
        minlength="4"
        required
        [ngClass]="{
          'invalid-textbox': signUpForm.submitted && !password.valid
        }"
      />
    </mat-form-field>

    <br />
    <button mat-raised-button type="submit">Sign Up</button>
  </form>

  <!-- Success message -->
  <div class="success" *ngIf="showSucessMessage">Saved successfully</div>

  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{ serverErrorMessages }}
  </div>
</div>
