<div>
    <mat-toolbar class="menu" color="primary">
      <div class="centerNavBar">
        <a mat-button href="admin-dashboard">Back</a>
        &nbsp;
        <span class="headSpacer">Damage Assessment Tool</span>
        &nbsp;
        <a mat-button href="">Logout</a>
      </div>
    </mat-toolbar>
  </div>
  
  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <div>
          <a mat-button href="admin-dashboard">Dashboard</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-fac">Report<br />Facility Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-equ">Report<br />Equipment Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-preequ">Predisaster<br />Facility Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-preequ">Predisaster<br />Equipment Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-moc-report">Make a Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-fac-view">View Reports:<br />Facility Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-daform-equ-view">View Reports:<br />Equipment Damage</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-moc-report-view">View Reports:<br />MOC</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-prefac-view">View Predisaster<br />Facility Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-preequ-view">View Predisaster<br />Equipment Report</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-aggregate">Data Mining</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-twitter">Twitter Posts</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-charts">Charts</a>
        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-button href="ad-message-board">Message Board</a>
        </div>
        <mat-divider></mat-divider>
        <br />
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-card>
          <mat-card-header>Update Equipment Pre-Assessment Report</mat-card-header>
          <br /><br />
          <form [formGroup]="form" (submit)="updatePreEquForm()">
            <mat-card-content>
                  <mat-card-actions>
                      <mat-form-field>
                        <mat-label>Name of Organization in Which Equipment is Associated</mat-label>
                        <input
                          placeholder="Organization Name"
                          matInput
                          formControlName="organizationName"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Name of Facility in Which Equipment is Associated</mat-label>
                        <input
                          placeholder="Facility Name"
                          matInput
                          formControlName="facilityName"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Facility Contact Information</mat-label>
                        <input
                          placeholder="Facility Contact Info."
                          matInput
                          formControlName="facilityContact"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Name of Equipment</mat-label>
                        <input
                          placeholder="Equipment Name"
                          matInput
                          formControlName="equipmentName"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Type of Equipment</mat-label>
                        <input
                          placeholder="Equipment Type"
                          matInput
                          formControlName="equipmentType"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Equipment Model Number</mat-label>
                        <input
                          placeholder="Model Number"
                          matInput
                          formControlName="modelNumber"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Manufacturer</mat-label>
                        <input
                          placeholder="Manufacturer"
                          matInput
                          formControlName="manufacturer"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Manufacturer Contact Information</mat-label>
                        <input
                          placeholder="Manufacturer Contact Info."
                          matInput
                          formControlName="manufacturerContact"
                          class="form-control"
                          type="string"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      <mat-form-field>
                        <mat-label>Cost of Equipment</mat-label>
                        <input
                          placeholder="Equipment Cost"
                          matInput
                          formControlName="cost"
                          class="form-control"
                          type="number"
                          required
                        />
                      </mat-form-field>
                      <br/>
                      
                    <!--Div for buttons-->
                    <div>
                      <input
                        style="display: none"
                        #ImageInput
                        type="file"
                        (change)="onFileSelected($event)"
                      />
  
                      <button
                        mat-raised-button
                        type="button"
                        (click)="ImageInput.click()"
                      >
                        Upload Spec Sheet
                      </button>
                      &nbsp;
                      <button mat-raised-button color="primary" type="submit">
                        Update
                      </button>
                    </div>
                  </mat-card-actions>
            </mat-card-content>
          </form>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  