<div>
    <mat-toolbar class = "menu" color="primary">
        <div>
            <a mat-button href="">Log Out</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Field Agent Dashboard</h1>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>