<div>
  <mat-toolbar class="menu" color="primary">
    <div class="centerNavBar">
      <a mat-button href="admin-dashboard">Back</a>
      &nbsp;
      <span class="headSpacer">Damage Assessment Tool</span>
      &nbsp;
      <a mat-button type="button" (click)="onLogoutAdmin()">Logout</a>
    </div>
  </mat-toolbar>
</div>

<div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <div>
        <a mat-button href="admin-dashboard">Dashboard</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-daform-fac">Report<br />Facility Damage</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-daform-equ">Report<br />Equipment Damage</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-prefac">Predisaster<br />Facility Report</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-preequ">Predisaster<br />Equipment Report</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-moc-report">Make a Report</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-daform-fac-view"
          >View Reports:<br />Facility Damage</a
        >
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-daform-equ-view"
          >View Reports:<br />Equipment Damage</a
        >
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-moc-report-view">View Reports:<br />MOC</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-prefac-view"
          >View Predisaster<br />Facility Report</a
        >
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-preequ-view"
          >View Predisaster<br />Equipment Report</a
        >
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-aggregate">Data Mining</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-twitter">Twitter Posts</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-charts">Charts</a>
      </div>
      <mat-divider></mat-divider>
      <div>
        <a mat-button href="ad-message-board">Message Board</a>
      </div>
      <mat-divider></mat-divider>
      <br />
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="textAlignCenter">
        <h1><b>Administrator Dashboard</b></h1>
      </div>
      <br/>
      <br/>
        <mat-card
        ><mat-card-content
          ><h2>{{ time | date: "hh:mm:ss a" }}</h2>
        </mat-card-content></mat-card
      >
      <br/>
      <br/>
      <div class="centre">
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-prefac']">Create Pre-Assessment of Facility</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-preequ']">Create Pre-Assessment of Equipment</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-daform-fac']">Create Assessment of Facility</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-daform-equ']">Create Assessment of Equipment</button>&nbsp;&nbsp;
        <br/>
        <br/>
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-prefac-view']">Pre-Assessment of Facility</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-preequ-view']">Pre-Assessment of Equipment</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-daform-fac-view']">Assessment of Facility</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-daform-equ-view']">Assessment of Equipment</button>&nbsp;&nbsp;
        <br/>
        <br/>
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-moc-report-view']">Member of Community Report</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-aggregate']">Data Mining</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-charts']">Charts</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" class="buttonWidth" [routerLink]="['/ad-twitter']">Twitter Post</button>&nbsp;&nbsp;
      </div>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <mat-card>
        <mat-card-content class="color">
          <br/>
          <br/>
          <br/>
          <br/>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
