<div>
  <mat-toolbar class="menu" color="primary">
    <div class="centerNavBar">
      <a mat-button href="fa-dashboard">Back</a>
      &nbsp;
      <span class="headSpacer">Damage Assessment Tool</span>
      &nbsp;
      <a mat-button href="">Logout</a>
    </div>
  </mat-toolbar>
</div>

<div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <div>
        <a mat-button href="admin-dashboard">Dashboard</a>
      </div>
      <div>
        <a mat-button href="daform">Create Field Agent Report</a>
      </div>
      <div>
        <a mat-button href="view-daform">Stored Field Agent Report Data</a>
      </div>
      <div>
        <a mat-button href="moc-report">Create MoC Report</a>
      </div>
      <div>
        <a mat-button href="moc-report-view">Stored MoC Report Data</a>
      </div>
      <div>
        <a mat-button href="message-board">Message Board</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sect">
        <h1>Administrator Dashboard</h1>
      </div>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
