<div>
    <mat-toolbar class = "menu" color="primary">
        <div>
            <a mat-button href="">Log Out</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Test Data Route</h1>
            </div>
            <div class = "inputData">
                <form>
                    <label for="orgName">Name of Organization Associated:</label>
                    <br>
                    <textarea id="orgName" name="orgName" rows="1" cols="70"></textarea>
                    <br>

                    <label for="facName">Name of Facility Being Investigated:</label>
                    <br>
                    <textarea id="facName" name="facName" rows="1" cols="70"></textarea>
                    <br>

                    <label for="facLocationx">Location of Facility Being Investigated:</label>
                    <br>
                    <textarea id="facLocationx" name="facLocationx" rows="1" cols="10"></textarea>
                    <br>
                </form>
            </div>
            <div id="submit">               
                <form>
                    <input type="submit" value="submit report">
                </form>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>