<div>
    <mat-toolbar class = "menu" color="primary">
        
        <div>
            <a mat-button href="">Back</a>
            <span class = "NavSpacer">Damage Assessment Tool</span>        
            <a mat-button href="">Logout</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Test Data Route</h1>
            </div>
            <mat-card>
                <mat-card-header>Organization</mat-card-header>
                <mat-card-content>
                    <div> 
                        <mat-form-field>
                            <mat-label>Enter Organization</mat-label>
                            <input  
                                    placeholder="--"
                                    matInput type= "string"
                                    [(ngModel)] = OrganizationName
                                    required>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Enter Facility</mat-label>
                                <input  
                                        placeholder="--"
                                        matInput type= "string"
                                        [(ngModel)] = FacilityName
                                        required>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>