<div>
    <mat-toolbar class = "menu" color="primary">
        
        <div class="centerNavBar">
            <a mat-button href="fa-dashboard">Back</a>
            &nbsp;
            <span class="headSpacer">Damage Assessment Tool</span>        
            &nbsp;
            <a mat-button href="">Logout</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="fa-dashboard">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Damage Assessment Report</h1>
            </div>
            <mat-card>
                <mat-card-header>Create report:</mat-card-header>
                <br><br>
                <mat-card-content>
                    <div> 
                        <mat-form-field>
                            <mat-label>Report Description</mat-label>
                            <input
                                #DescOfReportInput  
                                placeholder="Description of Report"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                            <br>
                        <mat-form-field>
                            <mat-label>Author</mat-label>
                            <input  
                                #AuthorInput
                                placeholder="Author"
                                matInput type= "string"
                                required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                        <mat-label></mat-label>
                        <input  
                                #DateInput
                                placeholder="----/--/--"
                                matInput type= "Date"
                                required>
                        </mat-form-field>
                        <br>
                    </div>
                    <div>
                        <button mat-raised-button 
                        type="submit" 
                        (click)="createDamageAssessmentReport(DescOfReportInput.value, AuthorInput.value, DateInput.value)" 
                        color="primary"
                        >Create</button> 
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>