.mocreportspacerleft{
    margin-left:auto;
}

.mocreportspacermiddle{
    text-align: center; 
}

.mocreportspacerright{
    margin-right:auto;
}

.styleImage {
    width: 300px;
    height: 300px;
}