<div>
    <mat-toolbar class = "menu" color="primary">
        
        <div class="centerNavBar">
            <a mat-button href="fa-dashboard">Back</a>
            &nbsp;
            <span class="headSpacer">Damage Assessment Tool</span>        
            &nbsp;
            <a mat-button href="">Logout</a>
        </div>
    </mat-toolbar>
</div>

<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <div>
                <a mat-button href="fa-dashboard">Dashboard</a>
            </div>
            <div>
                <a mat-button href="fa-daform">Report</a>
            </div>
            <div>
                <a mat-button href="fa-search">Stored Data</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="sect">
                <h1>Members of Communities Reports</h1>
            </div>
            <mat-card>
                <mat-card-content>
                    <mat-accordion multiple="true">
                        <mat-expansion-panel *ngFor="let mocreport of mocreports">
                            <mat-expansion-panel-header >
                                <span>{{mocreport.facilityName}} </span> 
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span>{{mocreport.MoCReportDateTime}}</span> 
                            </mat-expansion-panel-header>
                            <span>{{mocreport.MoCDescription}}</span>
                            
                            <button mat-raised-button>View</button>
                            &nbsp;
                            <button mat-raised-button 
                            color="warn">Delete</button>
                        </mat-expansion-panel>
                        <br>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
