<div>
    <mat-toolbar class="menu" color="primary">
      <div class="centerNavBar">
        <a mat-button href="fa-dashboard">Back</a>
        &nbsp;
        <span class="headSpacer">Damage Assessment Tool</span>
        &nbsp;
        <a mat-button href="">Logout</a>
      </div>
    </mat-toolbar>
  </div>
  
  <div>
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <div>
          <a mat-button href="fa-dashboard">Dashboard</a>
        </div>
        <div>
          <a mat-button href="daform">Report</a>
        </div>
        <div>
          <a mat-button href="view-daform">Stored Data</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <br />
        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </div>
        <br />
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
            *ngFor="let daformequi of daformequ"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ daformequi.organizationName }}
              </mat-panel-title>
              <mat-panel-description>
                {{ daformequi.equipmentName }}
                <mat-icon>status: {{daformequi.equipmentStatus}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            Author: {{ daformequi.author }}
            <br />
            <br />
            Description: {{ daformequi.eventName }}
            <br />
            <br />
            Date: {{ daformequi.eventDate | date:'shortDate' }}
            <mat-action-row>
              <button mat-button color="primary" [routerLink]="['/daform-equ-view-full', daformequi._id]">
                View
              </button>
              <button mat-button color="basic" [routerLink]="['/daform-fac', daformequi._id]">
                Update
              </button>
              <button mat-raised-button color="warn" (click)="delete(daformequi._id)">
                Delete
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
