/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";


html, body {height: 100%}

body {
    margin: 0;
    font-family: Roboto;
    background-color: ghostwhite;
}

.sect{
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    background-color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centerNavBar {
    margin: auto;
    width: auto;
    padding: auto;
}


.headSpacer{
    margin-left: 100px;
    margin-right: 100px;
}

/*map*/
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
    width: 50%;
}

#map {
    height: 100%;
}


