/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
  background-color: ghostwhite;
}

.sect {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  background-color: white;
}

.centerNavBar {
  margin: auto;
  width: auto;
  padding: auto;
}

.headSpacer {
  margin-left: 100px;
  margin-right: 100px;
}

.MainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

/*map*/

.map-container {
  width: 1000px;
  height: 500px;
  padding: 1px;
  margin: 20px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  
}

#map {
  height: 60vh;
  width: 50vh;
  margin-left:auto; margin-right:auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-card-content{
  text-align: center;
  width: auto;
}

mat-card{
  text-align: center;
  width: auto;
}

.textAlignCenter{
  text-align: center;
}

mat-form-field{
  width: 700px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


a:hover {
  background-color: #6a3db8d5;
  width : 130px;
}

mat-sidenav-container{
  width: auto;
  height: 615px;
}

mat-sidenav{
  text-align: center;
  height: 100%
}

.styleImage {
  width: 300px;
  height: 300px;
}

.fullMatCard{
  height:100%
}

