<div>
    <mat-toolbar class = "menu" color="primary">
        
        <div class="centerNavBar">
            <span class="headSpacer">Damage Assessment Tool</span>
        </div>
        
    </mat-toolbar>
    <div>
        <button mat-raised-button (click)="onClickFA()">Field Agent</button> 
    </div>
    <br>
    <div>
        <button mat-raised-button (click)="onClickDM()">Disaster Manager</button> 
    </div>
    <br>
    <div>
        <button mat-raised-button (click)="onClickA()">Administrator</button> 
    </div>
    <br>
    <div>
        <button mat-raised-button (click)="onClickMB()">Message Board</button> 
    </div>
</div>

