<div class="textAlignCenter">
  <mat-toolbar class="menu" color="primary">
    <div class="centerNavBar">
      <span class="headSpacer">Damage Assessment Tool</span>
    </div>
  </mat-toolbar>

  <br/>
  <br/>
  <br/>
  <img class="imgSize" src="assets/img/loadIcn.png" alt="Icon"/>
  <br/>
  <br/>
  

  <div>
    <button class="btnWIdth" mat-raised-button [routerLink]="['/fa-signin']">Field Agent</button>
  </div>
  <br />
  <div>
    <button class="btnWIdth" mat-raised-button [routerLink]="['/dm-signin']">Disaster Manager</button>
  </div>
  <br />
  <div>
    <button class="btnWIdth" mat-raised-button [routerLink]="['/a-signin']">Administrator</button>
  </div>
  <br />
  <div>
    <button class="btnWIdth" mat-raised-button [routerLink]="['/moc-signin']">Message Board</button>
  </div>
</div>
