<div class="textAlignCenter">
  <mat-toolbar class="menu" color="primary">
    <div class="centerNavBar">
      <span class="headSpacer">Damage Assessment Tool</span>
    </div>
  </mat-toolbar>

  <br/>
  <br/>
  <br/>
  <img class="imgSize" src="assets/img/loadIcn.png" alt="Icon"/>
  <br/>
  <br/>
  

  <div>
    <button class="btnWIdth" mat-raised-button (click)="onClickFA()">Field Agent</button>
  </div>
  <br />
  <div>
    <button class="btnWIdth" mat-raised-button (click)="onClickDM()">Disaster Manager</button>
  </div>
  <br />
  <div>
    <button class="btnWIdth" mat-raised-button (click)="onClickA()">Administrator</button>
  </div>
  <br />
  <div>
    <button class="btnWIdth" mat-raised-button (click)="onClickMB()">Message Board</button>
  </div>
</div>
